:root{
    --primary:#1a253f;
    --dark:#151A33;
    --secondary:#2b55cc;
    --info: #4d79f6;
    --ternary:#848db3;
    --pure:#eff2f9;
    --fade: #7081b9;
    --mild: #8997bd;
    --black: #060b1b;
    --danger: #f1646c;
    --dark-blue: #28365f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background: var(--dark);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

main {
    background: var(--primary);
}

section {
    padding: 3rem 3rem 0;
}

nav {
    background: var(--primary);
    padding: 1rem 0;
}

.inner-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resume {
    text-transform: uppercase;
    color: var(--pure);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
}

.print {
    background: var(--secondary);
    color: var(--pure);
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 4px;
    font-size: 14px;
}

.print:hover {
    cursor: pointer;
    background-color: var(--black);
}

@media print {
    .hidden-print {
      display: none !important;
    }
}

.profile {
    background: var(--black);
    padding: 3rem;
    margin-top: 40px;
    text-align: center;
}

@media screen and (min-width: 700px) {
    .profile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 25% 100%, 0 100%);
    }
} 

@media screen and (min-width: 700px) {
    .profile-left-section {
        flex: 2;
        display: flex;
        align-items: center;
    }
}

.image {
    height: 128px;
    width: 128px;
    border-radius: 50%; 
    object-fit: cover;
    margin-right: 10px;
}

.profile-left-section h2{
    color: var(--pure);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.profile-left-section p {
    color: var(--mild);
    font-size: 14px;
}

@media screen and (min-width: 700px) {
    .profile-right-section {
        flex: 1;
    }
}

.contact, .links {
    list-style-type: none;
    margin: 1.6rem 0;
} 

.profile li {
    margin-bottom: .7rem;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: var(--pure);
}

.fa {
    font-size: 20px;
}

.fa-envelope {
    font-size: 15px;
}

.heading, .section-heading, .section-long-heading {
    font-size: 16px;
    font-weight: 500;
    color: var(--pure);
    margin-bottom: 3rem;
    text-shadow: 0 0 1px rgba(40, 54, 95, 0.1);
    position: relative;
}

.heading:after {
    content: '';
    width: 70px;
    position: absolute;
    top: 28px;
    left: 0;
    border: 1px dotted var(--danger);
}

.section-heading:after {
    content: '';
    width: 45px;
    position: absolute;
    top: 28px;
    left: 0;
    border: 1px dotted var(--danger);
}

.section-long-heading:after {
    content: '';
    width: 220px;
    position: absolute;
    top: 28px;
    left: 0;
    border: 1px dotted var(--danger);
}

@media screen and (min-width: 700px) {
    .skill-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}    

.expierence p, .skills p, .internship p{
    font-size: 14px;
    color: var(--ternary);
    line-height: 1.7;
}

p.center {
    color: var(--pure);
}

.item {
    margin-bottom: 2.6rem;
    margin-left: 15px;
    position: relative;
}

.last-item {
    margin-bottom:0
}

.timeline-wrapper {
    border-left: 2px dotted var(--dark-blue);
}

.item:after {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 10px;
    height: 10px;
    border: 2px solid var(--info);
    border-radius: 50%;
    margin-left: -23px
}

.points {
    margin-left: 20px;
    list-style-type: circle;
}

.stars {
    font-size: 135%;
    margin-left: 20px; 
}

.skill-box {
    margin-left: 20px;
}

.awards p, .projects a, .wanna-work li, .points {
    color: var(--ternary);
    line-height: 1.7;
    font-size: 15px
}

@media screen and (min-width: 850px) {
    .internship {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
}